body {
  width: 1186px;
}

.bothSearchBlocks {
  background-color: green;
}

.full-height {
  z-index: -2;
}

#containerCocktails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.text-center{
margin: 0 20px;
}
